<!DOCTYPE html>
{% load static %}

<html lang="en" class="no-js">

<!-- moviesingle07:38-->
<head>
	<!-- Basic need -->
	<title>{{ movie.title }}</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">

    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.0/font/bootstrap-icons.min.css" integrity="sha512-yLNTU6YQWEtsM/WVkUqd2jRzzq5hmfFUMVvziVlkgC0R9HTElDtyF4DiWiBeMS36npvN+NWwrr764A4AWGcmQQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">

	<!-- CSS files -->
	<link rel="stylesheet" href="{% static 'main/css/plugins.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
	<style>

		.myImg2 {
			width:  40px;
			height: 300px;
			object-fit: cover;
		}


	</style>
</head>
<body>

<!-- BEGIN | Header -->
<header class="ht-header">
	<div class="container">
		<nav class="navbar navbar-default navbar-custom">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header logo">
				    <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					    <span class="sr-only">Toggle navigation</span>
					    <div id="nav-icon1">
							<span></span>
							<span></span>
							<span></span>
						</div>
				    </div>
				    <a href="{% url 'app_home' %}"><img class="logo" src="{% static 'main/images/logo1.png' %}" alt="" width="119" height="58"></a>
			    </div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav flex-child-menu menu-left">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" href="{% url 'app_home' %}">Home</a>
						</li>
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" href="{% url 'search_movie' %}">Search movies</a>
						</li>

						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1">Friends</a>
						</li>

					</ul>
					<ul class="nav navbar-nav flex-child-menu menu-right">
						<li class="dropdown first">
						{% if user.is_authenticated %}
							<a class="btn btn-default dropdown-toggle lv1" href="{% url 'user_profile' %}">Hello, {{ user.username }}</a>
						</li>
						<li class="btn"><a href="{% url 'logout' %}">Log Out</a></li>
						{% else %}
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" href="{% url 'user_profile' %}">Profile</a>
						</li>
						<li class=""><a href="{% url 'login' %}">Log In</a></li>
						<li class="btn"><a href="{% url 'register' %}">Register</a></li>
						{% endif %}
					</ul>
				</div>
			<!-- /.navbar-collapse -->
	    </nav>
	    
	</div>
</header>
<!-- END | Header -->

<div class="hero mv-single-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- <h1> movie listing - list</h1>
				<ul class="breadcumb">
					<li class="active"><a href="#">Home</a></li>
					<li> <span class="ion-ios-arrow-right"></span> movie listing</li>
				</ul> -->
			</div>
		</div>
	</div>
</div>
<div class="page-single movie-single movie_single">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="movie-img sticky-sb">
					<img src="{{ movie.image_url }}" alt="">
					<div class="movie-btn">	
						<div class="btn-transform transform-vertical red">
							<div><a href="#" class="item item-1 redbtn"> <i class="ion-play"></i> Watch Trailer</a></div>
							<div><a href="https://www.youtube.com/embed/{{ trailer }}" class="item item-2 redbtn fancybox-media hvr-grow"><i class="ion-play"></i></a></div>
						</div>
<!--						<div class="btn-transform transform-vertical">-->
<!--							<div><a href="#" class="item item-1 yellowbtn"> <i class="ion-card"></i> Buy ticket</a></div>-->
<!--							<div><a href="#" class="item item-2 yellowbtn"><i class="ion-card"></i></a></div>-->
<!--						</div>-->
					</div>
				</div>
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="movie-single-ct main-content">
					<h1 class="bd-hd">{{ movie.title }} <span>{{ movie.year }}</span></h1>
					<div class="social-btn">
						<a href="#" class="parent-btn"><i class="ion-heart"></i> Add to Favorite</a>
						<div class="hover-bnt">
							<a href="#" class="parent-btn"><i class="ion-android-share-alt"></i>share</a>
							<div class="hvr-item">
								<a href="#" class="hvr-grow"><i class="ion-social-facebook"></i></a>
								<a href="#" class="hvr-grow"><i class="ion-social-twitter"></i></a>
								<a href="#" class="hvr-grow"><i class="ion-social-googleplus"></i></a>
								<a href="#" class="hvr-grow"><i class="ion-social-youtube"></i></a>
							</div>
						</div>		
					</div>
					<div class="movie-rate">
						<div class="rate">
							<i class="bi bi-eye"></i>
							<p><span>{{ movie.views }}</span> views  <br>
							</p>
						</div>
						
					</div>
					<div class="movie-tabs">
						<div class="tabs">
							<ul class="tab-links tabs-mv">
								<li class="active"><a href="#overview">Overview</a></li>
								<li><a href="#reviews"> Reviews</a></li>
								<li><a href="#cast">  Cast & Crew </a></li>
								<li><a href="#moviesrelated"> Related Movies</a></li>                        
							</ul>
						    <div class="tab-content">
						        <div id="overview" class="tab active">
						            <div class="row">
						            	<div class="col-md-8 col-sm-12 col-xs-12">
						            		<p>{{ movie.description }}</p>
						            		<div class="title-hd-sm">
												<h4>Genre</h4>
											</div>
											<div class="sb-it">
						            			<p>
													{% for gen in movie.genre.all %}
													<a>{{ gen.type }}</a>
						            				{% endfor %}
												</p>
											</div>

											<div class="title-hd-sm">
												<h4>Screen Time</h4>
											</div>
											<div class="sb-it">
						            			<p>
													<a>{{ movie.duration }} minutes</a>
												</p>
											</div>

											<div class="title-hd-sm">
												<h4>Language</h4>
											</div>
											<div class="sb-it">
						            			<p>
													<a>{{ movie.language }}</a>
												</p>
											</div>

											<div class="title-hd-sm">
												<h4>Production Company</h4>
											</div>
											<div class="sb-it">
						            			<p>
													<a>{{ movie.production_company }}</a>
												</p>
											</div>

<!--											<div class="title-hd-sm">-->
<!--												<h4>User reviews</h4>-->
<!--												<a href="#" class="time">See All 56 Reviews <i class="ion-ios-arrow-right"></i></a>-->
<!--											</div>-->
<!--											&lt;!&ndash; movie user review &ndash;&gt;-->
<!--											<div class="mv-user-review-item">-->
<!--												<h3>Best Marvel movie in my opinion</h3>-->
<!--												<div class="no-star">-->
<!--													<i class="ion-android-star"></i>-->
<!--													<i class="ion-android-star"></i>-->
<!--													<i class="ion-android-star"></i>-->
<!--													<i class="ion-android-star"></i>-->
<!--													<i class="ion-android-star"></i>-->
<!--													<i class="ion-android-star"></i>-->
<!--													<i class="ion-android-star"></i>-->
<!--													<i class="ion-android-star"></i>-->
<!--													<i class="ion-android-star"></i>-->
<!--													<i class="ion-android-star last"></i>-->
<!--												</div>-->
<!--												<p class="time">-->
<!--													17 December 2016 by <a href="#"> hawaiipierson</a>-->
<!--												</p>-->
<!--												<p>This is by far one of my favorite movies from the MCU. The introduction of new Characters both good and bad also makes the movie more exciting. giving the characters more of a back story can also help audiences relate more to different characters better, and it connects a bond between the audience and actors or characters. Having seen the movie three times does not bother me here as it is as thrilling and exciting every time I am watching it. In other words, the movie is by far better than previous movies (and I do love everything Marvel), the plotting is splendid (they really do out do themselves in each film, there are no problems watching it more than once.</p>-->
<!--											</div>-->
						            	</div>

<!--						            	<div class="col-md-4 col-xs-12 col-sm-12">-->
<!--						            		<div class="sb-it">-->
<!--						            			<h6>Director: </h6>-->
<!--						            			<p><a href="#">Joss Whedon</a></p>-->
<!--						            		</div>-->
<!--						            		<div class="sb-it">-->
<!--						            			<h6>Writer: </h6>-->
<!--						            			<p><a href="#">Joss Whedon,</a> <a href="#">Stan Lee</a></p>-->
<!--						            		</div>-->
<!--						            		<div class="sb-it">-->
<!--						            			<h6>Stars: </h6>-->
<!--						            			<p><a href="#">Robert Downey Jr,</a> <a href="#">Chris Evans,</a> <a href="#">Mark Ruffalo,</a><a href="#"> Scarlett Johansson</a></p>-->
<!--						            		</div>-->
<!--						            		<div class="sb-it">-->
<!--						            			<h6>Genres:</h6>-->
<!--						            			<p><a href="#">Action, </a> <a href="#"> Sci-Fi,</a> <a href="#">Adventure</a></p>-->
<!--						            		</div>-->
<!--						            		<div class="sb-it">-->
<!--						            			<h6>Release Date:</h6>-->
<!--						            			<p>May 1, 2015 (U.S.A)</p>-->
<!--						            		</div>-->
<!--						            		<div class="sb-it">-->
<!--						            			<h6>Run Time:</h6>-->
<!--						            			<p>141 min</p>-->
<!--						            		</div>-->
<!--						            		<div class="sb-it">-->
<!--						            			<h6>MMPA Rating:</h6>-->
<!--						            			<p>PG-13</p>-->
<!--						            		</div>-->
<!--						            		<div class="sb-it">-->
<!--						            			<h6>Plot Keywords:</h6>-->
<!--						            			<p class="tags">-->
<!--						            				<span class="time"><a href="#">superhero</a></span>-->
<!--													<span class="time"><a href="#">marvel universe</a></span>-->
<!--													<span class="time"><a href="#">comic</a></span>-->
<!--													<span class="time"><a href="#">blockbuster</a></span>-->
<!--													<span class="time"><a href="#">final battle</a></span>-->
<!--						            			</p>-->
<!--						            		</div>-->
<!--						            		<div class="ads">-->
<!--												<img src="images/uploads/ads1.png" alt="">-->
<!--											</div>-->
<!--						            	</div>-->
						            </div>
						        </div>
						        <div id="reviews" class="tab review">
						           <div class="row">
						            	<div class="rv-hd">
						            		<div class="div">
							            		<h3>User Reviews On</h3>
						       	 				<h2>{{ movie.title }}</h2>
							            	</div>
							            	<a href="#" class="redbtn">Write Review</a>
						            	</div>
						            	<div class="topbar-filter">
											<p>Found <span>1 reviews</span> in total</p>
										</div>
										<div class="mv-user-review-item">
											<div class="user-infor">
												<img src="https://img.icons8.com/external-kiranshastry-lineal-color-kiranshastry/64/000000/external-user-interface-kiranshastry-lineal-color-kiranshastry.png" alt="">
												<div>
													<h3>Best Marvel movie in my opinion</h3>
													<div class="no-star">
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star last"></i>
													</div>
													<p class="time">
														17 December 2016 by <a> hawaiipierson</a>
													</p>
												</div>
											</div>
											<p>This is by far one of my favorite movies from the MCU. The introduction of new Characters both good and bad also makes the movie more exciting. giving the characters more of a back story can also help audiences relate more to different characters better, and it connects a bond between the audience and actors or characters. Having seen the movie three times does not bother me here as it is as thrilling and exciting every time I am watching it. In other words, the movie is by far better than previous movies (and I do love everything Marvel), the plotting is splendid (they really do out do themselves in each film, there are no problems watching it more than once.</p>
										</div>
						            </div>
						        </div>
						        <div id="cast" class="tab">
						        	<div class="row">
						            	<h3>Cast & Crew of</h3>
					       	 			<h2>{{ movie.title }}</h2>
										<!-- //== -->
					       	 			<div class="title-hd-sm">
											<h4>Directors</h4>
										</div>
										
										<!-- //== -->
										{% for direct in movie.directors.all %}
										<div class="movie-item-style-2">
											{% ifequal direct.image_url "None" %}
												<img src="https://img.icons8.com/external-kiranshastry-lineal-color-kiranshastry/64/000000/external-user-interface-kiranshastry-lineal-color-kiranshastry.png" class="myImg2" style="width:60px;height:60px;">
											{% else %}
												<img src="{{ direct.image_url }}" class="myImg2" style="width:60px;height:60px;">
											{% endifequal %}
											<div class="mv-item-infor">
												<h6><a>{{ direct.name }}</a></h6>
											</div>
										</div>
										{% endfor %}

										<div class="title-hd-sm">
											<h4>Cast</h4>
										</div>
										{% for act in movie.actors.all %}
										<div class="movie-item-style-2">
											{% ifequal act.image_url "None" %}
												<img src="https://img.icons8.com/external-kiranshastry-lineal-color-kiranshastry/64/000000/external-user-interface-kiranshastry-lineal-color-kiranshastry.png" class="myImg2" style="width:60px;height:60px;">
											{% else %}
												<img src="{{ act.image_url }}" class="myImg2" style="width:60px;height:60px;">
											{% endifequal %}
											<div class="mv-item-infor">
												<h6><a>{{ act.name }}</a></h6>
											</div>
										</div>
										{% endfor %}

						            </div>
					       	 	</div>
					       	 	<div id="media" class="tab">
						        	<div class="row">
						        		<div class="rv-hd">
						            		<div>
						            			<h3>Videos & Photos of</h3>
					       	 					<h2>Skyfall: Quantum of Spectre</h2>
						            		</div>
						            	</div>
						            	<div class="title-hd-sm">
											<h4>Videos <span>(8)</span></h4>
										</div>
										<div class="mvsingle-item media-item">
											<div class="vd-item">
												<div class="vd-it">
													<img class="vd-img" src="images/uploads/vd-item1.jpg" alt="">
													<a class="fancybox-media hvr-grow"  href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
												</div>
												<div class="vd-infor">
													<h6> <a href="#">Trailer:  Watch New Scenes</a></h6>
													<p class="time"> 1: 31</p>
												</div>
											</div>
											<div class="vd-item">
												<div class="vd-it">
													<img class="vd-img" src="images/uploads/vd-item2.jpg" alt="">
													<a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
												</div>
												<div class="vd-infor">
													<h6> <a href="#">Featurette: “Avengers Re-Assembled</a></h6>
													<p class="time"> 1: 03</p>
												</div>
											</div>
											<div class="vd-item">
												<div class="vd-it">
													<img class="vd-img" src="images/uploads/vd-item3.jpg" alt="">
													<a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
												</div>
												<div class="vd-infor">
													<h6> <a href="#">Interview: Robert Downey Jr</a></h6>
													<p class="time"> 3:27</p>
												</div>
											</div>
											<div class="vd-item">
												<div class="vd-it">
													<img class="vd-img" src="images/uploads/vd-item4.jpg" alt="">
													<a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
												</div>
												<div class="vd-infor">
													<h6> <a href="#">Interview: Scarlett Johansson</a></h6>
													<p class="time"> 3:27</p>
												</div>
											</div>
											<div class="vd-item">
												<div class="vd-it">
													<img class="vd-img" src="images/uploads/vd-item1.jpg" alt="">
													<a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
												</div>
												<div class="vd-infor">
													<h6> <a href="#">Featurette: Meet Quicksilver & The Scarlet Witch</a></h6>
													<p class="time"> 1: 31</p>
												</div>
											</div>
											<div class="vd-item">
												<div class="vd-it">
													<img class="vd-img" src="images/uploads/vd-item2.jpg" alt="">
													<a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
												</div>
												<div class="vd-infor">
													<h6> <a href="#">Interview: Director Joss Whedon</a></h6>
													<p class="time"> 1: 03</p>
												</div>
											</div>
											<div class="vd-item">
												<div class="vd-it">
													<img class="vd-img" src="images/uploads/vd-item3.jpg" alt="">
													<a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
												</div>
												<div class="vd-infor">
													<h6> <a href="#">Interview: Mark Ruffalo</a></h6>
													<p class="time"> 3:27</p>
												</div>
											</div>
											<div class="vd-item">
												<div class="vd-it">
													<img class="vd-img" src="images/uploads/vd-item4.jpg" alt="">
													<a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
												</div>
												<div class="vd-infor">
													<h6> <a href="#">Official Trailer #2</a></h6>
													<p class="time"> 3:27</p>
												</div>
											</div>
										</div>
										<div class="title-hd-sm">
											<h4>Photos <span> (21)</span></h4>
										</div>
										<div class="mvsingle-item">
											<a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image11.jpg" ><img src="images/uploads/image1.jpg" alt=""></a>
											<a class="img-lightbox"  data-fancybox-group="gallery"  href="images/uploads/image21.jpg" ><img src="images/uploads/image2.jpg" alt=""></a>
											<a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image31.jpg" ><img src="images/uploads/image3.jpg" alt=""></a>
											<a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image41.jpg" ><img src="images/uploads/image4.jpg" alt=""></a>
											<a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image51.jpg" ><img src="images/uploads/image5.jpg" alt=""></a>
											<a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image61.jpg" ><img src="images/uploads/image6.jpg" alt=""></a>
											<a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image71.jpg" ><img src="images/uploads/image7.jpg" alt=""></a>
											<a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image81.jpg" ><img src="images/uploads/image8.jpg" alt=""></a>
											<a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image91.jpg" ><img src="images/uploads/image9.jpg" alt=""></a>
											<a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image101.jpg" ><img src="images/uploads/image10.jpg" alt=""></a>
											<a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image111.jpg" ><img src="images/uploads/image1-1.jpg" alt=""></a>
											<a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image121.jpg" ><img src="images/uploads/image12.jpg" alt=""></a>
											<a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image131.jpg" ><img src="images/uploads/image13.jpg" alt=""></a>
											<a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image141.jpg" ><img src="images/uploads/image14.jpg" alt=""></a>
											<a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image151.jpg" ><img src="images/uploads/image15.jpg" alt=""></a>
											<a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image161.jpg" ><img src="images/uploads/image16.jpg" alt=""></a>
											<a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image171.jpg" ><img src="images/uploads/image17.jpg" alt=""></a>
											<a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image181.jpg" ><img src="images/uploads/image18.jpg" alt=""></a>
											<a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image191.jpg" ><img src="images/uploads/image19.jpg" alt=""></a>
											<a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image201.jpg" ><img src="images/uploads/image20.jpg" alt=""></a>
											<a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image211.jpg" ><img src="images/uploads/image2-1.jpg" alt=""></a>
										</div>
						        	</div>
					       	 	</div>
					       	 	<div id="moviesrelated" class="tab">
					       	 		<div class="row">

					       	 			<h2>Movies Similar To {{ movie.title }}</h2>

										{% for movie in feature_movies %}
										<div class="movie-item-style-2">
											<img src="{{ movie.image_url }}">
											<div class="mv-item-infor">
												<h6><a href="{% url 'movie_info' %}?id={{ movie.id }}">{{ movie.title }} <span>({{ movie.year }})</span></a></h6>
												<p class="rate"><i class="bi bi-eye"></i><span>{{ movie.views }}</span> views</p>
												<p class="describe">{{ movie.description }}</p>
												<p class="run-time"> Run Time: {{ movie.duration }} minutes</p>
												<p>Director:
													{% for director in movie.directors.all %}
													<a>{{ director.name }}    </a>
													{% endfor %}
												</p>
												</div>
										</div>
										{% endfor %}
					       	 		</div>
					       	 	</div>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="movie-items">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-12">
				<div class="title-hd">
					<h2>More movies directed by:
						{% for dir in movie.directors.all %}
							{{ dir.name }}
						{% endfor %}
					</h2>
				</div>

				<div class="tabs">
				    <div class="tab-content">
				        <div class="tab active">
				            <div class="row">
				            	<div class="slick-multiItem">

									{% for movie in director_movies %}
				            		<div class="slide-it">
				            			<div class="movie-item">
					            			<div class="mv-img">
					            				<img class="myImg2" src="{{ movie.image_url }}" alt="">
					            			</div>
					            			<div class="hvr-inner">
					            				<a  href="{% url 'movie_info' %}?id={{ movie.id }}"> Read more <i class="ion-android-arrow-dropright"></i> </a>
					            			</div>
					            			<div class="title-in">
					            				<h6><a href="{% url 'movie_info' %}?id={{ movie.id }}"  style="background-color: #020d18; color: #f5b50a">{{ movie.title }}</a></h6>
					            				<p style="background-color: #020d18; padding-top: 7px;"><i class="bi bi-eye"></i><span style="color: #f5b50a"> {{ movie.views }}</span></p>
					            			</div>
					            		</div>
				            		</div>
									{% endfor %}

				            	</div>
				            </div>
				        </div>
				    </div>
				</div>

				<div class="title-hd">
					<h2>Movies featuring similar cast</h2>
				</div>

				<div class="tabs">
				    <div class="tab-content">
				        <div class="tab active">
				            <div class="row">
				            	<div class="slick-multiItem">

									{% for movie in actor_movies %}
				            		<div class="slide-it">
				            			<div class="movie-item">
					            			<div class="mv-img">
					            				<img class="myImg2" src="{{ movie.image_url }}" alt="">
					            			</div>
					            			<div class="hvr-inner">
					            				<a  href="{% url 'movie_info' %}?id={{ movie.id }}"> Read more <i class="ion-android-arrow-dropright"></i> </a>
					            			</div>
					            			<div class="title-in">
					            				<h6><a href="{% url 'movie_info' %}?id={{ movie.id }}"  style="background-color: #020d18; color: #f5b50a">{{ movie.title }}</a></h6>
					            				<p style="background-color: #020d18; padding-top: 7px;"><i class="bi bi-eye"></i><span style="color: #f5b50a"> {{ movie.views }}</span></p>
					            			</div>
					            		</div>
				            		</div>
									{% endfor %}

				            	</div>
				            </div>
				        </div>
				    </div>
				</div>

				<div class="title-hd">
					<h2>More movies from {{ movie.production_company }}</h2>
				</div>

				<div class="tabs">
				    <div class="tab-content">
				        <div class="tab active">
				            <div class="row">
				            	<div class="slick-multiItem">

									{% for movie in director_movies %}
				            		<div class="slide-it">
				            			<div class="movie-item">
					            			<div class="mv-img">
					            				<img class="myImg2" src="{{ movie.image_url }}" alt="">
					            			</div>
					            			<div class="hvr-inner">
					            				<a  href="{% url 'movie_info' %}?id={{ movie.id }}"> Read more <i class="ion-android-arrow-dropright"></i> </a>
					            			</div>
					            			<div class="title-in">
					            				<h6><a href="{% url 'movie_info' %}?id={{ movie.id }}"  style="background-color: #020d18; color: #f5b50a">{{ movie.title }}</a></h6>
					            				<p style="background-color: #020d18; padding-top: 7px;"><i class="bi bi-eye"></i><span style="color: #f5b50a"> {{ movie.views }}</span></p>
					            			</div>
					            		</div>
				            		</div>
									{% endfor %}

				            	</div>
				            </div>
				        </div>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- footer section-->
<footer class="ht-footer">
	<div class="container">
		<div class="flex-parent-ft">
			<div class="flex-child-ft item1">
				 <a href="{% url 'app_home' %}"><img class="logo" src="{% static 'main/images/logo1.png' %}" alt=""></a>
				<p>Reach out at help@recommendora.com</p>
			</div>
			<div class="flex-child-ft item2">
				<h4>Menu</h4>
				<ul>
					<li><a href="#">Home</a></li> 
					<li><a href="#">Search Movie</a></li>
					<li><a href="#">Friends</a></li>
				</ul>
			</div>
			
			<div class="flex-child-ft item4">
				<h4>Follow us</h4>
				<div class="social-link">
					<a href="#"><i class="ion-social-facebook"></i></a>
					<a href="#"><i class="ion-social-twitter"></i></a>
				</div>
			</div>
		</div>
	</div>
	<div class="ft-copyright">
		<div class="backtotop" >
			<p style="text-align: right;"><a href="#" id="back-to-top">Back to top  <i class="ion-ios-arrow-thin-up"></i></a></p>
		</div>
	</div>
</footer>
<!-- end of footer section-->

<script>
	function autocomplete(inp, arr) {
	  /*the autocomplete function takes two arguments,
	  the text field element and an array of possible autocompleted values:*/
	  var currentFocus;
	  /*execute a function when someone writes in the text field:*/
	  inp.addEventListener("input", function(e) {
		  var a, b, i, val = this.value;
		  /*close any already open lists of autocompleted values*/
		  closeAllLists();
		  if (!val) { return false;}
		  currentFocus = -1;
		  /*create a DIV element that will contain the items (values):*/
		  a = document.createElement("DIV");
		  a.setAttribute("id", this.id + "autocomplete-list");
		  a.setAttribute("class", "autocomplete-items");
		  /*append the DIV element as a child of the autocomplete container:*/
		  this.parentNode.appendChild(a);
		  /*for each item in the array...*/
		  for (i = 0; i < arr.length; i++) {
			/*check if the item starts with the same letters as the text field value:*/
			if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
			  /*create a DIV element for each matching element:*/
			  b = document.createElement("DIV");
			  /*make the matching letters bold:*/
			  b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
			  b.innerHTML += arr[i].substr(val.length);
			  /*insert a input field that will hold the current array item's value:*/
			  b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
			  /*execute a function when someone clicks on the item value (DIV element):*/
			  b.addEventListener("click", function(e) {
				  /*insert the value for the autocomplete text field:*/
				  inp.value = this.getElementsByTagName("input")[0].value;
				  /*close the list of autocompleted values,
				  (or any other open lists of autocompleted values:*/
				  closeAllLists();
			  });
			  a.appendChild(b);
			}
		  }
	  });
	  /*execute a function presses a key on the keyboard:*/
	  inp.addEventListener("keydown", function(e) {
		  var x = document.getElementById(this.id + "autocomplete-list");
		  if (x) x = x.getElementsByTagName("div");
		  if (e.keyCode == 40) {
			/*If the arrow DOWN key is pressed,
			increase the currentFocus variable:*/
			currentFocus++;
			/*and and make the current item more visible:*/
			addActive(x);
		  } else if (e.keyCode == 38) { //up
			/*If the arrow UP key is pressed,
			decrease the currentFocus variable:*/
			currentFocus--;
			/*and and make the current item more visible:*/
			addActive(x);
		  } else if (e.keyCode == 13) {
			/*If the ENTER key is pressed, prevent the form from being submitted,*/
			e.preventDefault();
			if (currentFocus > -1) {
			  /*and simulate a click on the "active" item:*/
			  if (x) x[currentFocus].click();
			}
		  }
	  });
	  function addActive(x) {
		/*a function to classify an item as "active":*/
		if (!x) return false;
		/*start by removing the "active" class on all items:*/
		removeActive(x);
		if (currentFocus >= x.length) currentFocus = 0;
		if (currentFocus < 0) currentFocus = (x.length - 1);
		/*add class "autocomplete-active":*/
		x[currentFocus].classList.add("autocomplete-active");
	  }
	  function removeActive(x) {
		/*a function to remove the "active" class from all autocomplete items:*/
		for (var i = 0; i < x.length; i++) {
		  x[i].classList.remove("autocomplete-active");
		}
	  }
	  function closeAllLists(elmnt) {
		/*close all autocomplete lists in the document,
		except the one passed as an argument:*/
		var x = document.getElementsByClassName("autocomplete-items");
		for (var i = 0; i < x.length; i++) {
		  if (elmnt != x[i] && elmnt != inp) {
			x[i].parentNode.removeChild(x[i]);
		  }
		}
	  }
	  /*execute a function when someone clicks in the document:*/
	  document.addEventListener("click", function (e) {
		  closeAllLists(e.target);
	  });
	}
	
	/*An array containing all the country names in the world:*/
	var movies = {{ all_movies | safe }}

	/*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
	autocomplete(document.getElementById("myInput"), movies);
	</script>

<script src="{% static 'main/js/jquery.js' %}"></script>
<script src="{% static 'main/js/plugins.js' %}"></script>
<script src="{% static 'main/js/plugins2.js' %}"></script>
<script src="{% static 'main/js/custom.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>


</body>


</html>
