<!DOCTYPE html>
<html lang="en" class="no-js">
{% load static %}

<head>
	<!-- Basic need -->
	<title>Recommendora</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">

    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">

	<!-- CSS files -->
	<link rel="stylesheet" href="{% static 'main/css/plugins.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/style.css' %}">

</head>
<body style="background-image: url('/static/main/images/uploads/ft-bg.jpg');">

<header class="ht-header">
	<div class="container">
		<nav class="navbar navbar-default navbar-custom">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header logo">
				    <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					    <span class="sr-only">Toggle navigation</span>
					    <div id="nav-icon1">
							<span></span>
							<span></span>
							<span></span>
						</div>
				    </div>
				    <a href="index-2.html"><img class="logo" src="{% static 'main/images/logo1.png' %}" alt="" width="119" height="58"></a>
			    </div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav flex-child-menu menu-left">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" href="{% url 'app_home' %}">Home</a>
						</li>

					</ul>
					<ul class="nav navbar-nav flex-child-menu menu-right">
						<li class="btn"><a href="{% url 'login' %}">Log In</a></li>
					</ul>
				</div>
			<!-- /.navbar-collapse -->
	    </nav>

	    <!-- top search form -->

	</div>
</header>

<div class="hero common-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1> Register</h1>
					<ul class="breadcumb">
						<li class="active"><a href="{% url 'app_home' %}">Home</a></li>
						<li> <span class="ion-ios-arrow-right"></span> Register</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-single">
	<div class="container">
		<div class="row ipad-width">

			<div class="col-md-13 col-sm-12 col-xs-13">

                {% for message in messages %}
                <h4>{{ message }}</h4>
                {% endfor %}

				<div class="form-style-1 user-pro" action="#">
					<form method="post" action="{% url 'register' %}">
                        {% csrf_token %}

						<h4>Profile details</h4>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Username</label>
								<input type="text" name="username" id="username" placeholder="Username" required="required" />
							</div>
							<div class="col-md-6 form-it">
								<label>E-Mail</label>
								<input type="email" name="email" id="email-2" placeholder="Email" required="required" />
							</div>
						</div>
                        <div class="row">
							<div class="col-md-6 form-it">
								<label>Password</label>
								<input type="password" name="password" id="password-2" placeholder="Password" required="required" />
							</div>
							<div class="col-md-6 form-it">
								<label>Confirm Password</label>
								<input type="password" name="confirm_password" id="repassword-2" placeholder="Confirm Password" required="required" />
							</div>
						</div>
                        <div class="row">
							<div class="col-md-2">
								<input class="submit" type="submit" value="Register">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- footer section-->
<footer class="ht-footer">
	<div class="container">
		<div class="flex-parent-ft">
			<div class="flex-child-ft item1">
				 <a href="index-2.html"><img class="logo" src="{% static 'main/images/logo1.png' %}" alt=""></a>
				<p>Reach out at help@recommendora.com</p>
			</div>
			<div class="flex-child-ft item2">
				<h4>Menu</h4>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Search Movie</a></li>
					<li><a href="#">Friends</a></li>
				</ul>
			</div>

			<div class="flex-child-ft item4">
				<h4>Follow us</h4>
				<div class="social-link">
					<a href="#"><i class="ion-social-facebook"></i></a>
					<a href="#"><i class="ion-social-twitter"></i></a>
				</div>
			</div>
		</div>
	</div>
	<div class="ft-copyright">
		<div class="backtotop" >
			<p style="text-align: right;"><a href="#" id="back-to-top">Back to top  <i class="ion-ios-arrow-thin-up"></i></a></p>
		</div>
	</div>
</footer>
<!-- end of footer section-->

<script src="{% static 'main/js/jquery.js' %}"></script>
<script src="{% static 'main/js/plugins.js' %}"></script>
<script src="{% static 'main/js/plugins2.js' %}"></script>
<script src="{% static 'main/js/custom.js' %}"></script>

</body>


</html>
