<!DOCTYPE html>
{% load static %}
<html lang="en" class="no-js">

<!-- userprofile14:04-->
<head>
	<!-- Basic need -->
	<title>My Profile</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">

    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">

	<!-- CSS files -->
	<link rel="stylesheet" href="{% static 'main/css/plugins.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/style.css' %}">

</head>
<body>

<!-- BEGIN | Header -->
<header class="ht-header">
	<div class="container">
		<nav class="navbar navbar-default navbar-custom">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header logo">
				    <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					    <span class="sr-only">Toggle navigation</span>
					    <div id="nav-icon1">
							<span></span>
							<span></span>
							<span></span>
						</div>
				    </div>
				    <a href="index-2.html"><img class="logo" src="{% static 'main/images/logo1.png' %}" alt="" width="119" height="58"></a>
			    </div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav flex-child-menu menu-left">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" href="/">Home</a>
						</li>
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" href="{% url 'search_movie' %}">Search movies</a>
						</li>
						
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1">Friends</a>
						</li>
						
					</ul>
					<ul class="nav navbar-nav flex-child-menu menu-right">
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" href="{% url 'user_profile' %}">Profile</a>
						</li>
						<li class="btn"><a href="{% url 'logout' %}">Log Out</a></li>
					</ul>
				</div>
			<!-- /.navbar-collapse -->
	    </nav>
	    
	    <!-- top search form -->
	    
	</div>
</header>
<!-- END | Header -->

<div class="hero user-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1>Hello, {{ user.username }}</h1>
					<ul class="breadcumb">
						<li class="active"><a href="{% url 'app_home' %}">Home</a></li>
						<li> <span class="ion-ios-arrow-right"></span>Profile</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-single">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-3 col-sm-12 col-xs-12">
				<div class="user-information">
					<div class="user-img">
						<a href="#"><img src="images/uploads/user-img.png" alt=""><br></a>
						<a href="#" class="redbtn">Change avatar</a>
					</div>
					<div class="user-fav">
						<p>Account Details</p>
						<ul>
							<li  class="active"><a href="#">My Profile</a></li>
							<li><a href="/userfavorite">Favorite movies and History</a></li>
							<li><a href="/userrate">Rated movies</a></li>
						</ul>
					</div>
					<div class="user-fav">
						<p>Others</p>
						<ul>
							<li><a href="#">My Friends</a></li>
							<li><a href="{% url 'logout' %}">Log out</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-9 col-sm-12 col-xs-12">
				<div class="form-style-1 user-pro" action="#">
					<form action="#" class="user">
						<h4>Profile details</h4>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Username</label>
								<input type="text" placeholder="{{ user.username }}" value="{{ user.username }}">
							</div>
							<div class="col-md-6 form-it">
								<label>Email Address</label>
								<input type="text" placeholder="{{ user.email }}" value="{{ user.email }}">
							</div>
						</div>
					</form>
					<form method="post" action="{% url 'user_profile' %}" class="password">
						{% csrf_token %}

						<h4>Change password</h4>

						{% for message in messages %}
       						<h4>{{ message }}</h4>
    					{% endfor %}

						<div class="row">
							<div class="col-md-6 form-it">
								<label>Old Password</label>
								<input type="password" name="old_password" placeholder="Old Password" required>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>New Password</label>
								<input type="password" name="new_password" placeholder="New Password" required>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Confirm New Password</label>
								<input type="password" name="confirm_new_password" placeholder="Confirm Password" required>
							</div>
						</div>
						<div class="row">
							<div class="col-md-2">
								<input class="submit" type="submit" value="change">
							</div>
						</div>	
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- footer section-->
<footer class="ht-footer">
	<div class="container">
		<div class="flex-parent-ft">
			<div class="flex-child-ft item1">
				 <a href="index-2.html"><img class="logo" src="{% static 'main/images/logo1.png' %}" alt=""></a>
				<p>Reach out at help@recommendora.com</p>
			</div>
			<div class="flex-child-ft item2">
				<h4>Menu</h4>
				<ul>
					<li><a href="#">Home</a></li> 
					<li><a href="#">Search Movie</a></li>
					<li><a href="#">Friends</a></li>
				</ul>
			</div>
			
			<div class="flex-child-ft item4">
				<h4>Follow us</h4>
				<div class="social-link">
					<a href="#"><i class="ion-social-facebook"></i></a>
					<a href="#"><i class="ion-social-twitter"></i></a>
				</div>
			</div>
		</div>
	</div>
	<div class="ft-copyright">
		<div class="backtotop" >
			<p style="text-align: right;"><a href="#" id="back-to-top">Back to top  <i class="ion-ios-arrow-thin-up"></i></a></p>
		</div>
	</div>
</footer>
<!-- end of footer section-->

<script src="{% static 'main/js/jquery.js' %}"></script>
<script src="{% static 'main/js/plugins.js' %}"></script>
<script src="{% static 'main/js/plugins2.js' %}"></script>
<script src="{% static 'main/js/custom.js' %}"></script>
</body>

<!-- userprofile14:04-->
</html>